<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    @*<span>The Best</span>*@
                    <h3>Top Popular Courses</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="popular-course-content">
                        <h5>AIME</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".zia-modal-lg">By Elizabeth Sun </span>
                            @*<span class="spanlink" data-toggle="modal" data-target=".Derek-modal-lg">  | Derek Dong</span>*@
                        </div>
                        <span>Sunday 5-7pm</span>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Review previous AIMEs in order to build upon problem-solving skills and advanced mathematical knowledge.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">Learn More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-2.jpg);"></div>
                </div>
            </div>


            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content">
                        <h5>AMC 10/12</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Joshua-modal-lg">By Joshua Fu </span>
                            <span class="spanlink" data-toggle="modal" data-target=".Derek-modal-lg"> | Derek Dong</span>
                            @*<span class="spanlink" data-toggle="modal" data-target=".Larry-modal-lg"> | Larry Shi </span>*@
                        </div>
                        <div>
                            <span class="spanlink">Fri. 5-7pm</span>
                            <span class="spanlink"> | Sat. 6-8pm</span>
                            <span class="spanlink"> | Sun. 7-9pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Introduce fundamental concepts necessary for late AMC and improve students’ problem-solving skills.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-1.jpg);"></div>
                </div>
            </div>



            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="popular-course-content">
                        <h5>Physics</h5>
                        <span class="spanlink" data-toggle="modal" data-target=".Kevin-modal-lg">By Kevin Zhang </span>
                        <span>Friday 5:45-7:45pm</span>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Review an algebra-based approach to mechanics in preparation for the AP Physics I exam.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-4.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="900ms">
                    <div class="popular-course-content">
                        <h5>Biology</h5>
                        <span class="spanlink" data-toggle="modal" data-target=".Aaliya-modal-lg">By Aaliya Hussain </span>
                        <span>Sunday 5-7pm</span>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Introduce highschool students to elementary topics in the life sciences.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-5.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="600ms">
                    <div class="popular-course-content">
                        <h5>Research Statistics</h5>
                        <span>By Mirza Hilal Hussain  |  Sun. 9-11am</span>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Provide an understanding of key concepts in statistics and how these concepts relate to the scientific method and research.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-3.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Pre-Algebra</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Curtis-modal-lg">By Curtis Ji </span>
                            <span class="spanlink" data-toggle="modal" data-target=".Kevin-modal-lg"> | Kevin Zhang </span>
                        </div>
                        <div>
                            <span class="spanlink">Saturday 1-3pm </span>
                            <span class="spanlink"> | Friday 5:45-7:45pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Prepare students for the study of algebra with the Art of Problem Solving textbook.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-6.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="900ms">
                    <div class="popular-course-content">
                        <h5>Fundamental Math</h5>
                        <span class="spanlink" data-toggle="modal" data-target=".Tiffany-modal-lg">By Tiffany Cheng </span>
                        <span class="spanlink"> | Sat 10am-12pm</span>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Help 3rd grade students review fundamental math concepts.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-4.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="600ms">
                    <div class="popular-course-content">
                        <h5>World History</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".victoria-modal-lg">By Victoria Li </span>
                            <span class="spanlink" data-toggle="modal" data-target=".Joshua-modal-lg"> | Joshua Chen</span>
                            <!--<span class="spanlink" data-toggle="modal" data-target=".Victoria-modal-lg"> | Victoria Li </span>-->
                        </div>
                        <div>
                            <span class="spanlink">Wednesday 5-7pm </span>
                            <span class="spanlink"> | Friday 5-7pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Teach Students about World and US History.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-1.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Python Programming for Girls</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Ethan-modal-lg">By Ethan Zhang </span>
                            <span class="spanlink" data-toggle="modal" data-target=".Hilal-modal-lg"> | Mirza Hilal Hussain </span>
                        </div>
                        <div>
                            <span class="spanlink">Saturday 7-8:30pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>Python is a scripting language that is easy to learn and is ranked the No.1 popular programming language widely used in fields such as Artificial Intelligence, Machine Learning, Web application, as well as education courses.</p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-3.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 1st Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Janice-modal-lg">By Janice Cheng </span>
                        </div>
                        <div>
                            <span class="spanlink">Saturday 3pm-4pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p title=" It will also aim to go over previous Math Kangaroo Level 1 and 2 exams.">
                            This free course aims to prepare students for the Level 1 division Math Kangaroo Competition.
                            More specifically, we will focus on: Three-Digit Place Value, Estimation, Addition and Subtraction, Skip
                            Counting, Even and Odd Numbers, Money, Patterns, Equality, Fraction Number Sense, Symmetry, Plane
                            and Solid Figures, Measuring Length, Weight, and Temperature, Telling Time, Bar Graphs and
                            Pictographs, and Probability.
                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-4.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 2nd Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Kai-modal-lg">By Kai Wang </span>
                        </div>
                        <div>
                            <span class="spanlink">Sunday 5pm-6pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course aims to prepare students for the Level 2 division Math Kangaroo Competition.
                            During the class, will go over math topics pertaining to previous Level 2 Math Kangaroo problems and
                            have students do practice problems. Homework will be assigned and will go over any questions on the
                            homework next class.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-2.jpg);"></div>
                </div>
            </div>


            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 3rd Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Andrew-modal-lg">By Andrew Sheng </span>
                            
                        </div>
                        <div>
                            <span class="spanlink">Monday 5pm-6pm </span>
                            
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course aims to prepare students for the Level 3 division Math Kangaroo Competition.
                            During class, we will go over math topics pertaining to previous Level 3 Math Kangaroo problems and
                            have students do practice problems. Homework will be assigned and will go over any questions on the
                            homework next class.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-3.jpg);"></div>
                </div>
            </div>


            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 4th Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Jeanie-modal-lg">By Jeanie Qi </span>
                            @*<span class="spanlink" data-toggle="modal" data-target=".Sonny-modal-lg">By Sonny Chen </span>*@
                        </div>
                        <div>
                            <span class="spanlink">Monday 5pm-6pm </span>
                            @*<span class="spanlink">Sunday 10am-11am </span>*@
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course focuses on teaching Level 4 Math Kangaroo. Practice sets are assigned Homework and
                            went over for questions in class. It also teaches and explains Math League questions from Math Contests
                            Grades 4, 5,& 6 and others if time allows.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-4.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 5th Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Taohan-modal-lg">By Taohan Lin </span>
                            <span class="spanlink" data-toggle="modal" data-target=".Davidcao-modal-lg">By David Cao </span>
                        </div>
                        <div>
                            <span class="spanlink">Friday 7pm-8pm </span>
                            <span class="spanlink">| Sunday 5pm-6pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course teaches fundamentals in prealgebra and prepares students for math contests such as
                            American Mathematical Contest 8 (AMC8). The emphasis will be on critical thinking and competition
                            mathematical techniques, including problem-solving strategies, number theory, equations and
                            inequalities, counting, and right triangles and quadrilaterals. Each week, students are encouraged to
                            complete the assigned homework of AMC8 practice questions and homework from the previous week
                            will also be reviewed.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-5.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 6th Grade</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Davidwei-modal-lg">By David Wei </span>
                        </div>
                        <div>
                            <span class="spanlink">Friday 6pm-7pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course provides students with the ability to solve challenging problems and will be prepared for
                            various math competitions such as Math Kangaroo, Mathcounts, the AMC 8/10, etc. The class will also
                            provide students with a strong foundation in all four main branches of math: Algebra, Number Theory,
                            Combinatorics, and Geometry. Informative handouts, engaging lectures, and challenging practice
                            problems will be given to help students acquire strong creativity and problem-solving skills.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-6.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 7th Grade (AMC 8)</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Angelina-modal-lg">By Angeline Zhao </span>
                        </div>
                        <div>
                            <span class="spanlink">Friday 5pm-6pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course introduces fundamental concepts used for Math Kangaroo, Mathcounts, and the AMC
                            8/10 and aims to foster a deep understanding of and enthusiasm for mathematics. Students will learn to
                            apply various problem-solving strategies creatively while tackling challenging contest-style
                            problems. Throughout the course, we will cover various topics in algebra, geometry, combinatorics, and
                            number theory.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-1.jpg);"></div>
                </div>
            </div>

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Math for Girls - 8th Grade (Mathcounts & AMC 8)</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Max-modal-lg">By Max Yan </span>
                        </div>
                        <div>
                            <span class="spanlink">Friday 3pm-4pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This is a free course designed for Level 7 Mathcounts and AMC 8. It will cover important topics in
                            Pre-algebra/Algebra/Geometry with a focus on competitions. Topics include but are not limited to:
                            Conversion Problems, Ratio Problems, Simple Equations/Geometry, Arithmetic/Geometric Sequences,
                            Distance/Speed/Time Problems, Grid Paths/Counting, More complicated equations, More complicated,
                            geometry, Number theory, and Counting/probability.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-2.jpg);"></div>
                </div>
            </div>


            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="popular-course-content">
                        <h5>Fundamental Science</h5>
                        <div>
                            <span class="spanlink" data-toggle="modal" data-target=".Davidcao-modal-lg">By David Cao </span>
                            <span class="spanlink" data-toggle="modal" data-target=".punav-modal-lg">By Punav Kheterpal </span>
                        </div>
                        <div>
                            <span class="spanlink">Sunday 5pm-6pm </span>
                        </div>
                        <div class="course-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <p>
                            This free course aims to teach students the fundamentals of Science, including but not limited to 
                            the basics of Biology, Chemistry, and Physics. This course covers scientific knowledge, processes, 
                            and applications. These concepts will provide a basis for students interested in the Science Olympiad, 
                            as well as prepare students for their school science curriculum. The teacher, David Cao, is a student 
                            at Thomas Jefferson High School who is passionate about Science and has participated in the Science 
                            Olympiad ever since the 4th grade. David has won many awards, including the 2019 Science Olympiad 
                            school state champion, 8th in the Nationals, as well as many individual 1st to 3rd place rankings 
                            for Science Olympiad state, regional, and invitational competitions.

                        </p>
                        <a href="~/Home/Videos" class="btn academy-btn btn-sm">See More</a>
                    </div>
                    <div class="popular-course-thumb bg-img" style="background-image: url(../../img/bg-img/pc-3.jpg);"></div>
                </div>
            </div>
        </div>

            @{
                Html.RenderPartial("_aboutUs");
            }
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

                            @{
    Html.RenderPartial("_testimony");
                            }
