<!-- ##### Testimonials Area Start ##### -->
<div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                    <span>our testimonials</span>
                    <h3>See what our students are saying about us</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t1.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Great teacher</h5>
                        <p>Thank you, Elizabeth, for teaching me AIME. I qualified for AIME for the first time this year and your lectures are very helpful. Can you host an extra class so that I can learn how to solve all the problems?</p>
                        <h6><span>Michael,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="500ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t2.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Dedicated</h5>
                        <p>Elizabeth is very detailed and very dedicated to her teaching. A big thumbs-up for her kind heart to fundraise for the frontline workers to fight COVID-19!.</p>
                        <h6><span>Lilian,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="600ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t3.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Job Well Done</h5>
                        <p>Elizabeth explained the last five AIME questions very clearly without using Calculus. Well done!</p>
                        <h6><span>Angeline,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Super Clear</h5>
                        <p>I like Elizabeth’s class a lot. She’s very detailed and her logic is super clear.</p>
                        <h6><span>Isabel,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Big Thumbs-up</h5>
                        <p>A big thumbs-up for Elizabeth’s classes for raising money for hospitals! She’s a wonderful young teacher!</p>
                        <h6><span>Alina,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Great Class</h5>
                        <p>Great classes! I hope you can continue to offer such classes in the future.</p>
                        <h6><span>Max,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Great Class</h5>
                        <p>I enjoyed Elizabeth’s class and learned a lot from her. Please include me in AIME or higherclasses taught by Elizabeth.</p>
                        <h6><span>Samarth,</span> Student</h6>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Great Teacher</h5>
                        <p>Curtis is a great teacher. My daughter really enjoys his class and she is always focused during the two-hour lectures. She said Curtis’s teaching is as good as a college professor's and his lecturing style is creative, effective, and lively. Thank you for raising such an excellent child!</p>
                        <h6><span>Cindy’s Mom</span></h6>
                    </div>
                </div>
            </div>

            <!-- Single Testimonials Area -->
            <div class="col-12 col-md-6">
                <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                    <div class="testimonial-thumb">
                        @*<img src="img/bg-img/t4.jpg" alt="">*@
                    </div>
                    <div class="testimonial-content">
                        <h5>Great Teacher</h5>
                        <p>"Thanks Ethan for teaching kids Python programming lessons. He has a good lesson plan and taught really well. His homework assignments are really interesting and my son liked it very much. Yesterday my son said that he cannot wait to go to his next class!"</p>
                        <p>"Thanks for Ethan and Hilal's hard work and selfless dedication. Our kids not only learned Python programming knowledge, they also set up an example for contributing to the community."</p>
                        <p>"Happy Friday evening!  Andrew has been really enjoying all the Python lessons this summer.  We would like to extend our appreciation to Ethan’s hard work and excellent teaching, as well as your week by week ongoing support"</p>
                        <h6><span>Student's Parents</span></h6>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="800ms">
                        <a href="#" class="btn academy-btn">See More</a>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<!-- ##### Testimonials Area End ##### -->