@{
    ViewData["Title"] = "About us";
}
    <!-- ##### About Us Area Start ##### -->
    <!-- ##### About Us Area End ##### -->
    <!-- ##### Team Area Start ##### -->
    <section class="teachers-area mt-50 section-padding-100">
        <div class="container-fluid" style="">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        @*<span>The Best</span>*@
                        <h3>Meet the Team</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Officers</span>
                        @*<h3>Outreach to Nursing Homes</h3>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6  col-lg-1">
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6  col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/ZiaSun.500.jpeg" alt="" data-toggle="modal" data-target=".zia-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Elizabeth Sun</h5>
                            <span>Founder and President</span>
                        </div>
                    </div>
                </div>



                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/JoshuaFu.500.jpeg" alt="" data-toggle="modal" data-target=".Joshua-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Joshua Fu</h5>
                            <span>Chief Community Officer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Curtis.500.jpg" alt="" data-toggle="modal" data-target=".Curtis-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Curtis Ji</h5>
                            <span>Chief Technology Officer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/KevinZhang.500.jpg" alt="" data-toggle="modal" data-target=".Kevin-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Kevin Zhang</h5>
                            <span>Chief Marketing Officer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/DerekDong.500.jpg" alt="" data-toggle="modal" data-target=".Derek-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Derek Dong</h5>
                            <span>Chief Strategy Officer</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-sm-6  col-lg-1">
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/VictoriaLi500.jpg" alt="" data-toggle="modal" data-target=".victoria-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Victoria Li</h5>
                            <span>Chief Operation Officer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/AaliyaHussain.500.jpg" alt="" data-toggle="modal" data-target=".Aaliya-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Aaliya Hussain</h5>
                            <span>Chief Finance Officer </span>
                        </div>
                    </div>
                </div>




            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Members and Volunteers</span>
                        @*<h3>Outreach to Nursing Homes</h3>*@
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6  col-lg-1">
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/TiffanyCheng.480.jpg" alt="" data-toggle="modal" data-target=".Tiffany-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Tiffany Cheng</h5>
                            <span>Girls in Math Program Manager </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/HilalHussain.jpg" alt="" data-toggle="modal" data-target=".Hilal-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Mirza Hilal Hussain</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/EthanZhang.500.jpg" alt="" data-toggle="modal" data-target=".Ethan-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Ethan Zhang</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Justin.500.jpg" alt="" data-toggle="modal" data-target=".Justin-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Justin Chen</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>


                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/VicChen.500.jpg" alt="" data-toggle="modal" data-target=".Vicchen-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Victoria Chen</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                @*<div class="col-12 col-sm-6 col-lg-2">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="teachers-thumbnail">
                        <img src="~/img/bg-img/HilalHussain.jpg" alt="" data-toggle="modal" data-target=".Hilal-modal-lg">
                    </div>
                    <div class="teachers-info mt-30">
                        <h5>Mirza Hilal Hussain</h5>
                        <span>Member</span>
                    </div>
                </div>
            </div>*@

            </div>

            <div class="row">

                <div class="col-12 col-sm-6  col-lg-1">
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Janice.500.png" alt="" data-toggle="modal" data-target=".Janice-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Janice Cheng</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Kai.500.png" alt="" data-toggle="modal" data-target=".Kai-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Kai Wang</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Andrew.500.png" alt="" data-toggle="modal" data-target=".Andrew-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Andrew Sheng</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Jeanie.500.png" alt="" data-toggle="modal" data-target=".Jeanie-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Jeanie Qi</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>


                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Sonny.500.png" alt="" data-toggle="modal" data-target=".Sonny-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Sonny Chen</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-12 col-sm-6  col-lg-1">
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Taohan.500.png" alt="" data-toggle="modal" data-target=".Taohan-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Taohan Lin</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/davidc.500.png" alt="" data-toggle="modal" data-target=".Davidcao-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>David Cao</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/davidw.500.png" alt="" data-toggle="modal" data-target=".Davidwei-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>David Wei</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/Angeline.500.png" alt="" data-toggle="modal" data-target=".Angelina-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Angeline Zhao </h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/max.500.png" alt="" data-toggle="modal" data-target=".Max-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Max Yan</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-12 col-sm-6  col-lg-1">
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/punav.500.png" alt="" data-toggle="modal" data-target=".punav-modal-lg">
                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>Punav Kheterpal</h5>
                            <span>Member </span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/mchen.500.png" alt="" data-toggle="modal" data-target=".mchen-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Mackenzie Chen</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/phoebe.500.jpg" alt="" data-toggle="modal" data-target=".phoebe-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Phoebe Li</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/oliver.500.jpg" alt="" data-toggle="modal" data-target=".oliver-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Oliver Tu</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>

                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="~/img/bg-img/william.500.jpg" alt="" data-toggle="modal" data-target=".william-modal-lg">
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>William Jiang</h5>
                            <span>Member</span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 col-sm-6  col-lg-1">
                    </div>
                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/patrick.500.jpg" alt="" data-toggle="modal" data-target=".patrick-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Patrick Ying</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/suhas.500.jpg" alt="" data-toggle="modal" data-target=".suhas-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Suhas Nandiraju</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/justin.500.png" alt="" data-toggle="modal" data-target=".justin-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Justin Yoo</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/gabe.500.jpg" alt="" data-toggle="modal" data-target=".gabe-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Gabriel DeLeonardis</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/joa.500.png" alt="" data-toggle="modal" data-target=".joa-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Joaquim Das</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-sm-6  col-lg-1">
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/sri.500.jpg" alt="" data-toggle="modal" data-target=".sri-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Srimann Ramachandruni</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/garr.500.jpg" alt="" data-toggle="modal" data-target=".garr-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Garret Heller</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/jun.500.png" alt="" data-toggle="modal" data-target=".jun-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Jun Hee Lee</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/charl.500.jpg" alt="" data-toggle="modal" data-target=".charl-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Charles Tang</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/gav.500.jpg" alt="" data-toggle="modal" data-target=".gav-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Gavin Hatalosky</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-sm-6  col-lg-1">
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/chr.500.jpg" alt="" data-toggle="modal" data-target=".chr-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Christian Min</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/sam.500.jpg" alt="" data-toggle="modal" data-target=".sam-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Sam Esteban</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/henry.500.jpg" alt="" data-toggle="modal" data-target=".henry-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Henry He</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Teachers -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <div class="teachers-thumbnail">
                                <img src="~/img/bg-img/emma.500.jpg" alt="" data-toggle="modal" data-target=".emma-modal-lg">
                            </div>
                            <div class="teachers-info mt-30">
                                <h5>Emma Hu</h5>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>




                @{ Html.RenderPartial("_aboutUs"); }

                <!--<div class="row">
        <div class="col-12">
            <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                <a href="#" class="btn academy-btn">All Teachers</a>
            </div>
        </div>
    </div>-->
            </div>
    </section>
    <!-- ##### Features Area Start ##### -->