@{
    ViewData["Title"] = "About us";
}
<!-- ##### About Us Area Start ##### -->
<!-- ##### About Us Area End ##### -->
<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Coronavirus</span>
                    <h3>Donation to Hospitals to Support the Fight Against COVID-19</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            With the devastating COVID-19 pandemic, our country and communities are facing an unprecedented crisis. Over 50,000 lives have been lost
                            in our country alone and many hospitals and medical centers have a dire need for Proper Protective Equipment (PPE), including surgical masks,
                            face shields, N95s, sanitizers, gloves, safety gowns, and transport media.
                        </h5>
                        <h5>
                            We at Illumony, founded by a group of TJ students to serve underprivileged communities, have witnessed the growing scarcity of such life-saving
                            equipment. As such, we have been tutoring students online to address students’ learning needs and to raise money for local and national hospitals.
                        </h5>
                        <br> <br />

                        <div class="row">
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/receipt1.jpeg" alt="">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/receipt2.jpeg" alt="" style="image-orientation: 90deg">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <p>Please see our <a href="~/home/courses">Courses section</a> for more details. Every penny we make will be donated to hospitals. </p>
                        <a href="~/home/courses"><apan class="btn academy-btn btn-sm">Courses</apan></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Coronavirus</span>
                    <h3>GoFundMe Mask Donations</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width: 100%; width: 100%; flex: 0 0 100%">

                        <h5>
                            We are concerned residents in NOVA who are taking the initiative to protect healthcare workers from the spread of COVID-19 in
                            overcrowded hospitals short on medical supplies. We started this fundraising campaign to secure urgently needed medical masks
                            for local hospitals. The face masks will be used for patient source control, which prevents contamination of the surrounding
                            area when a person coughs or sneezes. Studies have shown that the usage of surgical masks on patients reduces the risk of transmission
                            by 56%. With all the new developments in the spread of COVID-19, such as its new effects on young people, it becomes more of a necessity
                            not only to contain the infected, but also to prevent the nurses, doctors, and other emergency workers from its spread. 
                        </h5>
                        <h5>   
                            We have worked
                            hard to find resources through our friends and families overseas and were able to secure a stable channel for surgical face masks. If the
                            donations are more than what we need, the remaining fund will be entirely donated to INOVA hospitals. Any donation made will help the
                            stressful situation a lot more bearable.
                        </h5>
                        <br /><br />
                        <div class="row">
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/inova.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-2">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/pic1.jpg" alt="" style="image-orientation: 90deg">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-2">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/pic2.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-2">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/pic3.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <!-- Single Teachers -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                                    <!-- Thumbnail -->
                                    <div class="teachers-thumbnail">
                                        <img src="~/img/bg-img/pic4.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <p>Joshua Fu is organizing this fundraiser.</p>
                        <a href="https://www.gofundme.com/f/face-masks-for-doctors-amp-inova-hospital-va?utm_source=customer&utm_medium=copy_link-tip&utm_campaign=p_cp+share-sheet"><apan class="btn academy-btn btn-sm">Go Fund Me</apan></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Funding Lifesavers</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            Our healthcare workers serve as our community’s first responders on the frontlines of
                            confronting the pandemic, protecting our community’s health and safety. They work around the
                            clock despite uncertainty, danger, and extreme stress. Collaborating with local restaurants, we
                            bring meals to the doctors and nurses of the INOVA hospital system and Reston Hospital. We
                            wish to ease the burden of acquiring three meals a day for our local healthcare workers while
                            supporting our local small businesses. In total, we’ve provided over a thousand meals for day
                            and night shifts of doctors and nurses.
                        </h5>

                        <br> <br />

                             <div class="hero-slides owl-carousel" style="height:450px">
                                 <!-- Single Hero Slide -->
                                 <div class="single-hero-slide bg-img" style="height:450px">
                                     <div class="container">
                                         <div class="row align-items-center">
                                             <div class="col-12">
                                                 <div class="hero-slides-content">
                                                     <div class="row">
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal6.jpg" alt="">
                                                                 </div><br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal7.jpg" alt="">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal9.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal10.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal12.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal14.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal8.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal13.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>

                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <!-- Single Hero Slide -->
                                 <div class="single-hero-slide bg-img" style="height:450px">
                                     <div class="container">
                                         <div class="row align-items-center">
                                             <div class="col-12">
                                                 <div class="hero-slides-content">
                                                     <div class="row">
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal18.jpg" alt="">
                                                                 </div>

                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal22.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal23.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal24.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal25.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal26.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal27.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <!-- Single Hero Slide -->
                                 <div class="single-hero-slide bg-img" style="height:450px">
                                     <div class="container ">
                                         <div class="row align-items-center">
                                             <div class="col-12">
                                                 <div class="hero-slides-content" style="color: dimgrey;">
                                                     <div class="row">
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal11.jpg" alt="">
                                                                 </div>

                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal21.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal20.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal15.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal16.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal17.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal19.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <!-- Single Hero Slide -->
                                 <div class="single-hero-slide bg-img" style="height:450px">
                                     <div class="container">
                                         <div class="row align-items-center">
                                             <div class="col-12">
                                                 <div class="hero-slides-content">
                                                     <div class="row">
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/thankyouLetter.png" alt="">
                                                                 </div>

                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal4.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal5.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal3.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal2.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <!-- Single Teachers -->
                                                         <div class="col-12 col-sm-6 col-lg-3">
                                                             <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal1.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                                 <br />
                                                                 <!-- Thumbnail -->
                                                                 <div class="teachers-thumbnail">
                                                                     <img src="~/img/bg-img/meal.jpg" alt="" style="image-orientation: 90deg">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                             </div>



                        <p>Victoria Li is organizing this fundraiser.</p>
                        <a target="_blank" href="https://www.paypal.me/fuelinglifesavers"><apan class="btn academy-btn btn-sm">Donate</apan></a>
                        <a  target="_blank" href="https://docs.google.com/spreadsheets/d/1svC-r4b_JgnUvfczLAPcT7lD5eD9PcnpiDYNnRp5ajU/edit?usp=sharing"><apan class="btn academy-btn btn-sm">Delivery Schedule</apan></a>
                    </div>
                </div>
            </div>

        </div>    
        
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Math For Girls</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            Math For Girls is a project that aims to inspire and motivate girls to pursue a passion in
                            mathematics and problem solving. Our volunteers have had an interest in STEM at a young age
                            and hope to pass the torch to the rest of our community. Math For Girls strives to provide
                            resources and a welcoming community for girls to enhance their performance in the field of
                            mathematics and also expand that interest to more scopes of STEM.
                        </h5>
                        
                        <a href="~/home/courses"><apan class="btn academy-btn btn-sm">Courses</apan></a>
                    </div>
                </div>
            </div>

        </div>
    

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Outreach to Nursing Homes</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            Before the pandemic, our team reached out to local nursing homes and organized visits from Illumony to hold performances for senior citizens.
                            Due to the outbreak of the pandemic, our performances had to be rescheduled to a later date.
                        </h5>
                        <!-- <apan class="btn academy-btn btn-sm">TBFWMCIA</apan> -->
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Outreach Program for K-12 Education</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            Our team is dedicated to promoting STEM to young students in order to give them more opportunities in their academics. 
                        </h5>
                        <h5>
                            This is an on-going project to host events introducing fun and interactive hands-on activities to students from local elementary schools.
                        </h5>
                        <!-- <apan class="btn academy-btn btn-sm">TBFWMCIA</apan> -->
                    </div>
                </div>
            </div>

        </div>
    
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Computer Science for Girls</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            While women make up the majority of all bachelor’s degrees earned in STEM fields, there’s still a LONG way to go to 
                            get equal representation in CS degrees. Did you know that women still only represent 1 in 5 CS graduates, even when 
                            the percentage of women in CS is finally increasing after a decade of decline? CS For Girls is a project that aims 
                            to inspire and motivate girls to pursue a passion for computer science and problem-solving. Our volunteers are 
                            committed to putting effort to provide resources and community for girls and support increased diversity in computer 
                            science.
                        </h5>

                    </div>
                </div>
            </div>

        </div>
    
    
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Community</span>
                    <h3>Future Scientists</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-12">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content" style="max-width:100%;width:100%;flex:0 0 100%">
                        <h5>
                            This project aims to teach young students the fundamentals of Science, including but not limited to the basics of 
                            Biology, Chemistry, and Physics. This project covers scientific knowledge, processes, and applications. These concepts 
                            will provide a basis for students interested in the Science Olympiad, as well as prepare students for their school 
                            science curriculum. We hope this project will inspire and motivate more young students to become future scientists. 
                            The teacher is a student at Thomas Jefferson High School who is passionate about Science and has participated and won 
                            many awards in the Science Olympiad competition.

                        </h5>

                    </div>
                </div>
            </div>

    </div>
    
    
    
    
    
    
    </div>
</div>
<!-- ##### Top Popular Courses Area End ##### -->