@{
    ViewData["Title"] = "Videos";
}

<!-- ##### Team Area Start ##### -->
<section class="teachers-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Meet the Teachers in Action</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V2LQwnmoYNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Elizabeth Sun Teaching AIME Class
                </div>
            </div>
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7gueYQ_wPFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Derek Dong Teaching AMC Class
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/j4Rz95jHAW0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Curtis Ji Introduction on Learning Programming
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5IUN6W9HCJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Aaliya Hussain Teaching Biology Class
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q8qUhbbjLTU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Jeanie Qi teaching Math for Girls - 4th Grade
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i7MMBpYvNjw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Angeline Zhao teaching 7th Grade math class
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/X1KOd22FeRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Ethan Zhang teaching python fundamental course
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7prwv0vA6w4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Janice Cheng teaching 1st Grade math class
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/382PJTF0lI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Andrew Sheng Teaching Math for Girls - 3rd grade
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SwOjBJlkjCc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of David Wei teaching Math for Girls - 6 Grade
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KdcqxES4UJs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of Curtis Ji Teaching Pre-Algebra Class
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vSFAXDxPopg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    Video of David Cao Teaching Fundamental Science course.
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                    <span class="btn academy-btn">Class Videos</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Features Area Start ##### -->
